body{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    /* overflow: hidden; */
}

.annual h3{
    text-align: center;
}

.annual {
    margin: auto;
    background-color: rgb(235, 235, 235);
    height: 100%;
    color: #464646;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
}

  
.annual a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    font-weight: bolder;
    color: maroon;
}

hr{
    border: black solid 1px;
    background-color: black;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#button1{
    background-color: maroon;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 20px; 
    margin-left: 40px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 7.5px;
}

#main {
    transition: margin-left, .5s;
}

.header{
    margin-top: 100px;
    text-align: center;
    flex-direction: column;
}

.header h1{
    font-weight: lighter;
    font-size: 40px;
    margin-bottom: 0;
    /* padding-top: 100px; */
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 100px 0;
    flex-wrap: wrap;
}

.container h1{
    font-weight: lighter;
    font-size: 30px;
}

ul{
   padding-left: 20px;
}

/* ul:nth-child(2) li:before {
     content:"\2714\0020"; 
} */

ul {
    list-style-type: '\2713   ';
}

li::marker{
    font-weight: bold;
}
.plan1{
    max-width: 250px;
    /* max-height: 280px; */
    background-color: maroon;
    padding: 25px 40px;
    border-radius: 20px;
    color: white;
}


.plan2{
    max-width: 250px;
    background-color: maroon;
    padding: 25px 40px;
    /* max-height: 280px; */
    border-radius: 20px;
    color: white;
}


.plan3{
    max-width: 250px;
    /* max-height: 280px; */
    background-color: maroon;
    padding: 25px 40px;
    border-radius: 20px;
    color: white;
}

#button{
    background-color: rgb(218, 218, 218);
    border: none;
    margin-top: 20px; 
    margin-left: 40px;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 15px;
    border-radius: 5px;
}

.custom{
    display: flex;
    flex-direction: column;
    padding: 50px 75px 50px;
    max-width: 300px;
    background-color: maroon;
    color: white;
    margin: auto;
    font-size: 25px;
    border-radius: 30px;
    margin-bottom: 50px;
}
  
.custom h1{
    font-weight: lighter;
    font-size: 30px;
}

select{
    padding: 5px 10px;
    border-radius: 5px;
}

#button2{
    background-color: rgb(218, 218, 218);
    border: none;
    margin-top: 20px; 
    padding: 15px 15px;
    text-align: center;
    margin: auto;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
}


/* labtop and Tablet Screen */
@media only screen and (max-width: 1024px) and (min-width: 427px){
    .annual a{
        font-size: 30px;
    }

    .container{
        padding: 100px 0 50px;
    }

    .plan1 {
        margin-bottom: 50px;
    }

    .plan2 {
        margin-bottom: 50px;
    }

    .plan3 {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 427px){
    .custom{
        max-width: 400px;
    }
}

/* Mobile Screen */
@media only screen and (max-width: 426px){
    .annual {
        overflow-y:visible;
    }

    .annual a{
        font-size: 35px;
    }

    #button1{
        background-color: maroon;
        border: none;
        color: white;
        font-weight: bold;
        margin-top: 20px; 
        margin-left: 0px;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
    }

    .header h1 {
        margin: 20px 0;
    }

    .container{
        padding: 50px 0 0;
    }

    .plan1 {
        margin-bottom: 100px;
        padding: 15px 30px;
    }

    .plan2 {
        margin-bottom: 100px;
        padding: 15px 30px;
    }

    .plan3 {
        margin-bottom: 100px;
        padding: 15px 30px;
    }

    #button{
        padding: 10px 10px;
        margin-top: 20px;
        margin-left: 75px;
    }

    .custom{
        max-width: 250px;
        padding: 15px 30px;
        border-radius: 20px;
    }

    #button2{
        padding: 10px 10px;
    }
}

